@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";

@theme {
  /* Fontes */
  --font-roboto: "Roboto", sans-serif;

  /* Cores personalizadas */
  --color-white-blue: #E8F0FF;
  --color-white-ice: #F9FAFB;
  --color-blue: #0056B3;
  --color-blue-destaque: #002855;
  --color-black-text: #2A2A2A;

  /* Breakpoints personalizados */
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1400px;
}

/* Estilos extras */
.navbar-scrolled {
  background-color: rgba(255, 255, 255, 0.9) !important;
  backdrop-filter: blur(6px);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.footer-rodape p,
.navbar-scrolled .nav-link,
.trabalhar .swiper-slide-active h5,
.trabalhar .swiper-slide-active p {
  color: var(--text-color);
}

.navbar-scrolled .navbar-brand,
.navbar-scrolled .navbar-brand p {
  color: var(--text-color) !important;
}

.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 15px;
    z-index: 1000;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #25d366;
    box-shadow: 0 4px 6px rgba(0,0,0,.2);
    transition: transform .2s;
    animation: 2s infinite destaque !important;
}

.whatsapp-button i {
    font-size: 35px;
    color: var(--white-color)
}

.btn-personalizado{
  background: var(--color-blue);
  padding: .8rem 2.5rem;
  color: var(--color-white-ice);
  font-weight: 500;
  border-radius: .5rem;
  display: inline-block;
}

.btn-personalizado:hover{
  background: var(--color-blue-destaque);
}

.sobre_image{
  position: absolute;
  bottom:0;
  left: 50%;
  transform: translateX(-50%);
}


.card-servico:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}


.card-servico img {
  width: 100%;
  height: 390px;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.card-servico:hover img {
  transform: scale(1.05);
}

.card-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4), transparent);
  opacity: 0;
  transition: opacity 0.4s ease;
}

.card-servico:hover .card-overlay {
  opacity: 1;
}


.card-content h3 {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}

.card-content p {
  font-size: 1rem;
  line-height: 1.5;
  max-width: 450px;
  display:none ;
  transition: opacity 0.4s ease;
  text-align: center;
}

.card-servico:hover .card-content p {
 display: block;
}

.servicos-btn {
  background-color: #1d4ed8;
  color: white;
  font-weight: 600;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.servicos-btn:hover {
  background-color: #153e9f;
}

#depoimentos .swiper {
    padding: 2rem 2rem 60px ;
    height: auto;
    overflow-y: visible
}

#depoimentos.swiper-wrapper {
    overflow: visible
}
#depoimentos .swiper-slide-active {
    transform: scale(1.1)
}


@keyframes destaque{
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(37,211,102,.7)
    }

    70% {
        transform: scale(1.1);
        box-shadow: 0 0 0 10px rgba(37,211,102,0)
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(37,211,102,0)
    }
}